<a href="https://colab.research.google.com/github/Neel12-coder/Python-Refresher-Course/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples

tuples are immutable,
can store ele of different dtypes

In [4]:
a = tuple("abc")

In [5]:
print(type(a))
print(a)

<class 'tuple'>
('a', 'b', 'c')

In [6]:
tple =("abc")
print(type(tple))

<class 'str'>

In [7]:
#to make tuple of one ele
tple=("abc",)
print(type(tple))

<class 'tuple'>

In [8]:
dom = ("jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec")
print(dom[1:6])

('feb', 'mar', 'apr', 'may', 'jun')

In [11]:
dom.count("mar")

1

In [12]:
dom.index("jun")

5

In [14]:
a=sorted(dom)
print(a)

['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep']

In [15]:
reversed(dom)

In [19]:
print(dom)

('jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec')

In [21]:
#dom[1]= "abc" #throws error

In [22]:
all(dom) #returns true if all are true

True

In [23]:
any(dom)

True

In [28]:
numbers = [1,2,3]
t = ('a',numbers, {'a':1,'b':2},3,4)

In [29]:
print(t)

('a', [1, 2, 3], {'a': 1, 'b': 2}, 3, 4)

In [30]:
t[2]['a']

1

In [31]:
t[1]

[1, 2, 3]

In [32]:
t[1].append(4)

In [33]:
t[1]

[1, 2, 3, 4]

In [34]:
print(t)

('a', [1, 2, 3, 4], {'a': 1, 'b': 2}, 3, 4)

# Practice Programs

In [42]:
#WAP to demo use of tuples

students = []
def add_student():
  tple = tuple(x for x in input("Enter student name rollno. and marks sep by space ").split())
  students.append(tple)
  #print(students)
  print("Great, new student added!!")

def display():
  #print(students)
  for x in students:
    print("Student Name = {:<8s} Student Rollno. = {:<5s} Student Marks ={:<10s}".format(x[0],x[1],x[2]))

def sorting():
  students.sort(key=customSort)
  print(f"Sorted list is {students}")

def customSort(ele):
  return ele[2]

choice = 0
while choice!=4:
  print("1.Add Student")
  print("2.Display Students")
  print("3.Sort acc to marks")
  print("4.Exit")
  choice=int(input("Enter your choice: "))
  if choice == 1:
    add_student()
  elif choice == 2:
    display()
  elif choice == 3:
    sorting()
  else:
    break

1.Add Student
2.Display Students
3.Sort acc to marks
4.Exit
Enter your choice: 1
Enter student name rollno. and marks sep by space Neelam 66 98
Great, new student added!!
1.Add Student
2.Display Students
3.Sort acc to marks
4.Exit
Enter your choice: 1
Enter student name rollno. and marks sep by space hitesh 89 99
Great, new student added!!
1.Add Student
2.Display Students
3.Sort acc to marks
4.Exit
Enter your choice: 1
Enter student name rollno. and marks sep by space 29 Ronit 89
Great, new student added!!
1.Add Student
2.Display Students
3.Sort acc to marks
4.Exit
Enter your choice: 2
Student Name = Neelam   Student Rollno. = 66    Student Marks =98
Student Name = hitesh   Student Rollno. = 89    Student Marks =99
Student Name = 29       Student Rollno. = Ronit Student Marks =89
1.Add Student
2.Display Students
3.Sort acc to marks
4.Exit
Enter your choice: 3
Sorted list is [('29', 'Ronit', '89'), ('Neelam', '66', '98'), ('hitesh', '89', '99')]
1.Add Student
2.Display Students
3.Sort acc to marks
4.Exit
Enter your choice: 4